@page "/"
@inject IJSRuntime JS

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<p role="status">Device Orientation: @s</p>

<button class="btn btn-primary" @onclick="RequestPermission">Request permission</button>

@code {
    private DotNetObjectReference<Index>? objectReference;

    string s = "";

    private Task RequestPermission()
    {
        return JS.InvokeVoidAsync("accelerometer.requestPermission").AsTask();
    }

    // コンポーネントの初期化時に呼び出される
    protected override Task OnInitializedAsync()
    {
        objectReference = DotNetObjectReference.Create(this);
        return JS.InvokeVoidAsync("accelerometer.initialize", objectReference).AsTask();
    }

    [JSInvokable]
    public void OnDeviceMotion(string s)
    {
        Console.WriteLine($"orientation: {s}");
        this.s = s;
        StateHasChanged();
    }
}
